.friendList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to align items in a row */
    flex-direction: row; /* Ensure items are aligned horizontally */
    justify-content: center; /* Center the items horizontally */
    gap: 20px; /* Add space between each item */
    overflow-x: auto; /* Allow horizontal scrolling if content overflows */
}


.friendList li {
    width: 100%;
    margin-bottom: 10px;
}
