.transactionHistory {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse; /* Merge borders */
}

.transactionHistory th,
.transactionHistory td {
    padding: 10px;
    border: 1px solid #ddd;
}

.transactionHistory th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

.transactionHistory td {
    text-align: center;
    color: #333333;
    background-color: white;
}

.transactionHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}

.transactionHistory tr:nth-child(odd) {
    background-color: white;
}
